<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    <modules>
        <Martin_Debug>
            <version>0.0.1</version>
        </Martin_Debug>
    </modules>
    <global>
        <blocks>
            <martindebug>
                <class>Martin_Debug_Block</class>
            </martindebug>
        </blocks>
        <models>
            <martindebug>
                <class>Martin_Debug_Model</class>
            </martindebug>
            <core>
                <rewrite>
                    <layout_update>Martin_Debug_Model_Layout_Update</layout_update>
                </rewrite>
            </core>
        </models>
        <helpers>
            <martindebug>
                <class>Martin_Debug_Helper</class>
            </martindebug>
        </helpers>
        <events>
            <wyomind_elasticsearch_before_search>
                <observers>
                    <search_v3_observer>
                        <type>singleton</type>
                        <class>martindebug/observer</class>
                        <method>changeToBeSearchV3</method>
                    </search_v3_observer>
                </observers>
            </wyomind_elasticsearch_before_search>
            <after_throughing_out_layout_files>
                <observers>
                    <action_layout_observer>
                    <type>singleton</type>
                    <class>martindebug/observer</class>
                    <method>logLayoutFileMergingInfoes</method>
                    </action_layout_observer>
                </observers>
            </after_throughing_out_layout_files>
             <router_match_after_dispath_action>
                    <observers>
                        <action_dipatch_observer>
                            <type>singleton</type>
                            <class>martindebug/observer</class>
                            <method>logRouterMatchingInfoes</method>
                        </action_dipatch_observer>
                    </observers>
             </router_match_after_dispath_action>
            <core_block_abstract_to_html_before>
                <observers>
                    <debug_block_observer>
                        <type>singleton</type>
                        <class>martindebug/observer</class>
                        <method>debugBlock</method>
                    </debug_block_observer>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_postdispatch>
                <observers>
                    <debug_block_observer>
                        <type>singleton</type>
                        <class>martindebug/observer</class>
                        <method>showAction</method>
                    </debug_block_observer>
                    <for_show_handles>
                        <type>singleton</type>
                        <class>martindebug/observer</class>
                        <method>showHandles</method>
                    </for_show_handles>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>
    <admin>
        <routers>
            <debugadmin>
                <use>admin</use>
                <args>
                    <module>Martin_Debug_Adminhtml</module>
                    <frontName>martindebugadmin</frontName>
                </args>
            </debugadmin>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <debug>
                    <file>debug.xml</file>
                </debug>
            </updates>
        </layout>
        <routers>
            <martindebug>
                <use>standard</use>
                <args>
                    <module>Martin_Debug</module>
                    <frontName>martindebug</frontName>
                </args>
            </martindebug>
        </routers>
        <layout>
            <updates>
                <martindebug>
                    <file>martindebug.xml</file>
                </martindebug>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <debug>
                    <file>debug.xml</file>
                </debug>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <debug translate="title" module="martindebug">
                                            <title>Debug</title>
                                            <sort_order>0</sort_order>
                                        </debug>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <events>
            <filter_jobs>
                <observers>
                    <debug_observer>
                        <class>martindebug/observer</class>
                        <method>filterJobs</method>
                    </debug_observer>
                </observers>
            </filter_jobs>
        </events>

        <jobs>
            <test_first_day_of_daily>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>martindebug/observer::cronjobTest</model>
                </run>
            </test_first_day_of_daily>
            <test_first_day_of_week>
                <schedule>
                    <cron_expr>0 0 * * 1</cron_expr>
                </schedule>
                <run>
                    <model>martindebug/observer::cronjobTest</model>
                </run>
            </test_first_day_of_week>
            <test_first_day_of_month>
                <schedule>
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>martindebug/observer::cronjobTest</model>
                </run>
            </test_first_day_of_month>
        </jobs>
    </crontab>
</config>
